body {
    padding-top: 70px;
    /* Espaço para não cobrir o conteúdo pela navbar fixa */
    padding-bottom: 60px;
    /* Espaço para não cobrir o conteúdo pelo rodapé fixo */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
}